<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>

<body style="background-color:lightpink;  width: 70px; margin-left: 290px;">

  <form #loginForm="ngForm" (ngSubmit)="btnLogin()" class="formulario" style="background-color:lightpink;">
    <h1>Bienvenido</h1>
    <div class="contenedor">
      <div class="input-contenedor">
        <i class="fas fa-envelope icon"></i>
        <input style="background-color:lightpink;" #correo="ngModel" name="correo" id="login-correo"
          [(ngModel)]="user.correo" type="text" value="" placeholder="Correo electrónico" required="" />
      </div>

      <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
        <input style="background-color:lightpink;" #password="ngModel" name="password" [(ngModel)]="user.password"
          type="password" value="" placeholder="Contraseña" required="" id="login-pass" />
      </div>
      <input type="submit" value="Ingresar" class="button">
      <li><a class="link" routerLink="../registro">Registro</a></li>
    </div>
  </form>

</body>

</html>